/* Definições gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b4b4d55a;
    color: #333;
    transition: background 0.3s, color 0.3s;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    
}


nav input {
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    display: flex;
    margin-left: 900px;

}

nav button {
    background: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;

 

}

#search-container {
    display: flex;
    align-items: center;
}

/* Layout principal */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* Seção de estatísticas */
#stats {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 190px;
    max-width: 800px;
    float: left;
}

#stats h2, #stats h3 {
    margin-bottom: 10px;
    color: #007bff;
}

#stats p {
    margin: 5px 0;
    font-size: 1em;
    color: #ffefef;
}

/* Seção de tópicos */
#topics {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 5000px;
    max-width: 800px;
    margin-top: 20px;
    margin-left: 290px;
}

.topic {
    background: #e9ecef;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.topic .tags, .topic .date {
    font-size: 0.9em;
    color: #555;
}

/* Tema escuro */
.dark-mode {
    background-color: #222;
    color: #ffffff;
}

.dark-mode nav {
    background: #444;
}

.dark-mode #topics, .dark-mode #stats {
    background: #333;
    color: white;
}

.dark-mode .topic {
    background: #444;
}
