 
/* From Uiverse.io by SelfMadeSystem */ 
/*
More comprehensive version at shenanigans.shoghisimon.ca/collection/css-rain-bg/
 */



.background {
background-image:linear-gradient(to right bottom, rgb(194, 218, 164),rgb(210, 225, 167),rgb(70, 255, 64));
background-repeat: no-repeat;
background-attachment: fixed;
}  

.background-black {
background-image:linear-gradient(to right bottom, rgb(194, 218, 164),rgb(210, 225, 167),rgb(70, 255, 64));
background-repeat: no-repeat;
background-attachment: fixed;
}